<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>{% block title %}Keith圖書館主頁{% endblock %}</title>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

	<body>

		<div class="container-fluid">
			<div class="row">
				<div class='col-sm-2'>
					{% block sidebar %}
						<ul class="sidebar-nav">
								<li><a href="{% url 'index' %}">主頁</a></li>
								<li><a href="{% url 'books' %}">所有書籍</a></li>
								<li><a href="{% url 'authors' %}">所有作者</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url 'my-borrowed' %}">我租借的書籍</a></li>
								<li>使用者：{{ user.get_username }}</li>
								<li><a href="{% url 'logout' %}?next={{ request.path }}">登出</a></li>
							{% else %}
								<li><a href="{% url 'login' %}?next={{ request.path }}">登入</a></li>
							{% endif %}

							{% if perms.catalog.can_mark_returned %}
							<hr>
							<ul class="sidebar-nav">
								<li>員工區</li>
								<li><a href="{% url 'all-borrowed' %}">已租借書籍</a></li>
								<li><a href="{% url 'author_create' %}">新增作者</a></li>
								<li><a href="{% url 'book_create' %}">新增書籍</a></li>
							</ul>
							{% endif %}
						</ul>
					{% endblock %}
				</div>
				<div class="col-sm-10">
					{% block content %}{% endblock %}

					{% block pagination %}
						{% if is_paginated %}
							<div class="pagination">
								<span class="page-links">
									{% if page_obj.has_previous %}
										<a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">上一頁</a>
									{% endif %}
									<span class="page-current">
										頁面 {{ page_obj.paginator.num_pages }} 的第 {{ page_obj.number }} 頁 
									</span>
									{% if page_obj.has_next %}
										<a href="{{ request.page }}?page={{ page_obj.next_page_number }}">下一頁</a>
									{% endif %}
								</span>
							</div>
						{% endif %}
					{% endblock %}
					
				</div>
			</div>
		</div>

	</body>

</html>